* {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'sans-serif';
}

.hero-image {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3-alpha-sig.figma.com/img/3310/7cb3/1e736e7e2fe8337e449e7825ff0c1822?Expires=1638748800&Signature=OPGAOuch7VkeKEvTOWIr~lOK~ZVNyN-mxhvAqLIrvpiayckG6LM7vVoKcOEzSJJkWKbovDq~yZxrK6SVE4Yn6SmwAw1YLjU5xiS61QD~ctjUbmdgJvKKm-fy3LIMl73CNEXlXOlgSF4EmxjGrDyT2TCWkdaTzCJJd5shEra9WC8zFV0GnqMvP-JlogszYzNycmynfFlwzrMvXolV6MYSca6R2Sf4b6BLjjNgDUommAV3pvUBN~RNHmCOujMQI8SmOhqAKLu1~VNkLU~KWpSJd0-LXIWFAQIULb8J~hYQW7yAZ0YT3u0GnJboHs7ArJ2xqt2mKXwMJQr5bBDl0GKzKw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  height: 93.7vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.hero-text {
  text-align: start;
  position: absolute;
  align-self: center;
  padding-left: 4vw;
  color: #FFFF;
}

.hero-text button {
  background-color: #EE5253; /* Green */
  border: none;
  color: #FFFF;
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}

.hero-text h1 {
  font-weight: 600;
  font-size: 7vh;
  max-width: 90%;
  padding: 3px 0px 10px 0;
}

.hero-text p {
  font-weight: 200;
  font-size: 3vh;
  font-size-adjust: 50vh;
}